* {
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
}

body {
background-color: black;
}

.header {
    padding: 20px;
    font-family: 'Didot', 'Trebutchet MS', sans-serif;
    background-color: rgb(0, 174, 255);
    color: rgb(1, 1, 152);
    display:flex;
    flex-direction:row;
    
}

h1 {
    font-size:30px;
    margin-right:auto;
}

.Header-flex {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    flex:1 0 100%;
}

.Head1  {
    padding:10px;
    flex-shrink:1;
    font-size:24px; 
    color:white;
    text-decoration: none;
    align-content:flex-start;
} 

.Head2  {
    padding:10px;
    flex-grow:1;
    font-size:24px;
    color:white;
    text-decoration: none;
    
} 

.Head3  {
    padding:10px;
    flex-grow:1;
    font-size:24px; 
    color:white;
    text-decoration: none;
} 

a {
    color:aliceblue;
    text-decoration: none;
}

p {
    font-size: 16px; 
    color:aliceblue;
}

.About-flex {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: flex-start;
    padding: 20px;

}


.About1 {
    font-size: 50px;
    padding:20px;
    color: white; 
    text-shadow: 0 0 10px rgb(0, 174, 255);
    font-family: 'Didot', 'Trebuchet MS', sans-serif;
    text-align:center;
    border-bottom: 3px solid rgb(0, 174, 255);
}

.About2 { 
    font-size:24px;
    padding: 40px;
    text-align:center;
    
}

.Projects h3{
    font-size: 75px;
    color: white; 
    text-align:center;
    padding:45px;
    text-shadow: 0 0 10px rgb(0, 174, 255);
    font-family: 'Didot', 'Trebuchet MS', sans-serif;
}   

.Responsive img {
     width:100%;
}

.Row2 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Row2 img {
    object-fit: contain;
}
.Gallery1 img {
    width:100%;
    max-height:100%;
    text-align:center;
    border: 3px groove rgb(0, 174, 255);
}

.Gallery2 img {
    padding:10px; 
    width:33.3333;
    max-height:50%;
    text-align:center;
    border: 3px groove rgb(0, 174, 255);
}

.desc {
    text-align:center;
    text-shadow: 2px 2px 4px rgb(0, 174, 255);
    padding:10px;
    font-size: 25px;
    color:white;
}

.Contact {
    padding: 100px;
    font-family: 'Didot', 'Trebutchet MS', sans-serif;
    color:white;
    text-align:center;
}

.Contact h4 {
    font-size:50px;
    text-shadow: 0 0 10px rgb(0, 174, 255);
    border-bottom: 3px solid rgb(0, 174, 255);
}

.ConContainer {
    display:flex;
    flex-wrap: wrap;
    flex-basis: 500px;
    flex-direction: row;
    justify-content: center; 

}

.Con1 {
    padding:10px;
    font-size:32px;
    flex-shrink:1;
}

.Con2 {
    padding:10px;
    font-size:32px;
    flex-shrink:1;
}

